<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <p> {{ user.username }}</p>
    <div id="login">
        {% if user.is_authenticated %}
            <button><a href="{% url 'logout' %}">Logout</a></button>
        {% else %}
            <button><a href="{% url 'login' %}">Login</a></button>
            <button><a href="{% url 'register' %}">Register</a></button>
        {% endif %}
    </div>
    <button type="button"><a href="{% url 'task_list' %}">Task list</a></button>
    <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>