{% extends 'base.html' %}

{% block title %} Task Details {% endblock %}
{% block content %}

<h2>Task Details</h2><button type="button"><a href="{% url 'task_update' task.pk %}">Update</a></button>


{% if user.is_authenticated %}
    <div id="task_detail">
        <p> {{ task.title }}</p>
        <h3>Description:</h3>
        <p> {{ task.describe }}</p>
        <p> {{ task.date_start }}</p>
        <p> {{ task.date_end }}</p>
        {% if connected_users %}
            <ul>
                {% for user in connected_users %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No one is connected to this task</p>
        {% endif %}
        <p> {{ task.priority }}</p>
    </div>
{% endif %}
{% endblock %}

