{% extends 'base.html' %}


{% block title %} Task list {% endblock %}
{% block content %}
<h2>Task List</h2>

{% if user.is_authenticated %}
    <div id="tasks_list">
        <ul>
            {% for task in tasks %}
                <li>
                    <a href="{% url 'task_detail' task.title task.id %}"><h3>{{ task.title }}</h3></a>
                    <h3>{{ task.id }}</h3>
                </li>
            {% empty %}
                <p> There is no task yet</p>
            {% endfor %}
        </ul>
        <button><a href="{% url 'create_task' %}">Add new Task</a></button>
    </div>
<h2>Connected Task List</h2>
    <div id="connected_tasks_list">
        <ul>
            {% for connected_task in connected_tasks %}
                <li>
                    <a href="{% url 'task_detail' connected_task.title connected_task.id %}"><h3>{{ connected_task.title }}</h3></a>
                    <h3>{{ connected_task.id }}</h3>
                </li>
            {% empty %}
                <p> There is no task yet</p>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>You need to be logged in to view and add tasks.</p>
{% endif %}
{% endblock %}